.capture
  .wrap
    .row
      %h4.text-center Capture
      %br
    .row
      .large-12.columns.user-content
        %canvas{width:"660", height:"500"}
    .row
      .large-12.columns.text-center
        .button.submit-btn.small чбошод
    .row.hide
      .large-12.columns
        %video
