.capture
  .wrap
    .row
      %h4.text-center Capture
      %br
    .row
      .large-12.columns.user-content
        %canvas.user
    .row
      .large-12.columns
        .button.submit-btn чбошод
    .row
      .large-12.columns
        %video
