.capture
  .wrap
    .row
      %h4.text-center 拼拼你自己
      %br
    .row
      .large-12.columns.user-content
        %canvas{width:"660", height:"500"}
    .row
      .large-12.columns.text-center
        %br
        .button.submit-btn.small.radius 确认
    .row.hide
      .large-12.columns
        %video

