.tools
  .wrap
    .row
      %ul.large-block-grid-3
        %li
          = link_to tools_ecg_path do
            %h5 心电图
            %small 实时显示心电数据
            %br
            = image_tag("ecg.png")
        %li
          = link_to tools_audio_path do
            %h5 音乐
            %small 根据音乐生成动画
            %br
            = image_tag("ecg.png")
