.summary {
  text-align: left;
  .circle-border img {
    border-radius: 50%;
    width: 100px;
  }
  h3 {
    font-size: 50px;
  }
  h4 {
    font-size: 30px;
  }
  p {
    margin: 3px 0;
  }
  .section {
    padding: 0 10px;
  }
  .first-color {
    background: image-url("texture_2.jpg");
  }
  .second-color {
    background: image-url("texture_1.jpg");
  }
  .third-color {
    background: image-url("texture_3.jpg");
  }
  .forth-color {
    background: image-url("texture_4.jpg");
  }
}
