.summary {
  text-align: left;
  p {
    margin: 3px 0;
  }
  .section {
    padding: 0 10px;
  }
  .first-color {
    background-color: #E1F8C9;
  }
  .second-color {
    background-color: #B8E3E0;
  }
  .third-color {
    background-color: #FFE4CF;
  }
  .forth-color {
    background-color: #F6C8D8;
  }
}
