.temp-app.temp{:'ng-app' => "tempApp"}
  .ng-controller{:'ng-controller' => "TempCtrl"}
    .wrap.row
      .large-12.columns
        %h3.wrap 温度实时查看
        #legend.right
        %br
        #temp-graph
    .wrap.row
      .large-3.columns
        %label.blue.label= '起始'
        %input#datetimestart{type: 'text'}
      .large-3.columns
        %label.label.blue= '终止'
        %input#datetimeend{type: 'text'}
        .wrap
      .large-4.columns
        %br
        %span.btn.button.tiny.blue{:'ng-click' => "filterDate($event)"}= "确定"
        %span.btn.button.tiny.blue{:'data-tooltip' => true, title: 'Save as data.json , UTC format', :'ng-click' => "exportData($event)"}= "导出"
