.brand
  .bg
  .content
    .row
      %ul.nav.inline-list
        %li
          %a.default{:href => "#about"} 关于
        %li
          %a.default{:href => "/leaves/index.html"} 叶子
        %li
          %a.default{:href => "/temp/index.html"} 温度传感器
        %li
          %a.default{:href => "/projects/index.html"} 所有项目
        %li
          %a.default{:href => "/profile.html"} 简历
        %li
          %a.default{:href => "blog.wendycan.orog"} 博客

