.brand
  .bg
  .content
    .row
      %ul.nav.inline-list
        %li
          %a.default{:href => "#about"} About
        %li
          %a.default{:href => "#contact"} Contact
        %li
          %a.default{:href => "/projects/index.html"} Projects
        %li
          %a.default{:href => "/leaves/index.html"} Leaves
        %li
          %a.default{:href => "/temp/index.html"} Temp

