.brand
  .bg
  .my-img
    = image_tag("me.png")
  .content
    .row
      %ul.nav.inline-list
        %li
          %a.default{:href => "#about"} 关于
        %li
          %a.default{:href => "/leaves/index.html"} 叶子拼图
        %li
          %a.default{:href => "/temp/index.html"} 温度监控
        %li
          %a.default{:href => "/projects/index.html"} 所有项目
        %li
          %a.default{:href => "/profile.html"} 简历
        %li
          %a.default{:href => "blog.wendycan.orog"} 博客
.about#about.wrap
  .row.text-center
    .large-12.columns.text
      %h2 关于我
      %br
      %p 一个大胆，新奇，激情的姑娘，热爱生活的点点滴滴
    %ul.large-block-grid-4
      %li
        %i.fa.fa-book.brown-color
        %br
        书籍
      %li
        %i.fa.fa-leaf.green-color
        %br
        生物
      %li
        %i.fa.fa-code.blue-color
        %br
        编程
      %li
        %i.fa.fa-music.orange-color
        %br
        音乐
.blogs.wrap.gray-bg
  .row.text-center
    .large-6.columns
      = image_tag("blogs.png")
    .large-6.columns
      %br
      %h2 博客
      %br
      %p 分享技术，经历，想法
.projects.wrap
  .row.text-center
    .large-12.columns
      %h2 项目
      %br
      %p 展示我经营的项目,希望得到你的反馈
.footer.wrap.gray-dark-bg
  .row.text-center
    .large-3.columns.large-offset-3
      %h4
        %br
        %small by
        %a.reverse{:href => "/"}
          王欣
      %br
      %ul.inline-list
        %li
          %a{:href => "http://weibo.com/u/3260368113/home?wvr=5"}
            %i.fa.fa-weibo
        %li
          %a{:href => "https://github.com/wendycan"}
            %i.fa.fa-github
        %li
          %a{:href => "https://bitbucket.org/wendycan"}
            %i.fa.fa-bitbucket
        %li
          %a{:href => "mailto:wilxnwang@gmail.com"}
            %i.fa.fa-envelope
    .large-3.columns
      = image_tag('qrcode.png')
    .large-3.columns
