.sales{
  height: 87%;
  width: 100%;
  position: relative;
  .bg{
    position: relative;
    top: -210px;
    width: 100%;
    min-height: 100%;
    background: image-url("brand_text.png") no-repeat fixed center;
    background-size: cover;
  }
  .content{
    z-index: 1;
    position: relative;
    padding-top: 1.6rem;
    h2, h4{
      color: white;
      font-weight: 200;
    }
  }
  .nav{
    margin-bottom: 0;
    a{
      font-size: 1.4rem;
      font-weight: bold;
    }
    li{
      text-align: center;
      padding-bottom: 0.625rem;
    }
    a.current{
      border-bottom: solid 3px white;
      padding: 5px 20px 0 20px;
    }
  }
}
.sales-products{
  img{
    border-radius: 50%;
    width: 70%;
  }
}
.members{
  img{
    width: 200px;
  }
  .member:nth-child(2) img{
    width: 300px;
  }
}
.contact-us{
  p{
    font-size: 1.2rem;
    font-weight: 200;
    i{
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    }
    span{
      padding-left: 10px;
    }
    strong{
      font-family: cursive;
      font-size: 1.3rem;
    }
  }
}
.sales-show{
  li img{
    height: 500px;
    width: 100%;
  }
}
