.sales{
  height: 87%;
  width: 100%;
  position: relative;
  .bg{
    position: relative;
    top: -170px;
    width: 100%;
    min-height: 100%;
    background: image-url("brand_text.png") no-repeat fixed center;
    background-size: cover;
  }
  .content{
    z-index: 1;
    position: relative;
    padding-top: 1.6rem;
    h2{
      color: white;
      font-weight: normal;
    }
  }
  .nav{
    margin-bottom: 0;
    a{
      font-size: 1.4rem;
      font-weight: bold;
    }
    li{
      text-align: center;
      padding-bottom: 0.625rem;
    }
    a.current{
      border-bottom: solid 3px white;
      padding: 5px 20px 0 20px;
    }
  }
}
