.tools {
  li a {
    display: block;
    text-align: center;
    border: solid 1px $gray-border;

    img {
      width: 70%;
    }

    small {
      color: $gray-text;
    }

    &:hover {
      opacity: .7;
      background-color: $gray-bg;
    }
  }
}

.audio {
  #wave-graph {
    height: 200px;
    width: 500px;
    margin: 0 auto;
  }

  .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 150px;
    color: #00698f;
    text-align: center;

    i {
      font-size: 50px;
      color: #008cba;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }

  .has-bottom-border {
    border-bottom: solid 2px #008cba;
  }
}

.capture {
  .user-content {
    position: relative;
    height: 500px;
  }
  canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: solid 1px #d5d5d5;
  }
}
