.tools {
  li a {
    display: block;
    text-align: center;
    border: solid 1px $gray-border;

    img {
      width: 70%;
    }

    small {
      color: $gray-text;
    }

    &:hover {
      opacity: .7;
      background-color: $gray-bg;
    }
  }
}

.audio {
  #wave-graph {
    height: 200px;
    width: 500px;
    margin: 0 auto;
    border-bottom: solid 2px #008CBA;
  }
}
