.top-bar{
  height: 3.8rem;
  a{
    font-weight: bold !important;
  }
  .name {
    height: 3.8rem;
  }
  .title-area{
    a{
      img{
        height: 45px;
        width: auto;
        margin-top: -25px;
        border-radius: 50%;
      }
      &:hover{
        opacity: 0.8;
      }
      line-height: 80px;
      padding-right: 20px;
    }
  }
  li a{
    padding-left: 0 !important;
  }
  .top-bar-section ul {
    font-size: 18px;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    line-height: 3.8rem;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding-right: 1.5rem;
  }
}
.tab-bar img{
  height: 50px;
  width: auto;
}
