.wrap
  .row
    .large-12.columns
      #todoapp

%script{id: 't-todos', type: 'text/template'}
  .todos-body
    #header
      %span.group work
      %select#new-todo-group
        %option{value: 'work'} work
        %option{value: 'family'} family
        %option{value: 'personal'} personal
        %option{value: 'study'} study
        %option{value: 'daodao'} daodao
        %option{value: 'wendycan'} wendycan
        %option{value: 'others'} others
      %input#new-todo{placeholder: 'What needs to be done?', autofocus: true}
    %section#main
      %input#toggle-all{type: 'checkbox'}
      %label{'for' => 'toggle-all'} Mark all as complete
      %ul#todo-list
    %footer#footer

%script{id: 'item-template', type: 'text/template'}
  .view
    <% if (completed) { %>
    %input.toggle{type: 'checkbox', checked: ''}
    <% } else { %>
    %input.toggle{type: 'checkbox'}
    <% } %>
    %span.group <%= group || '工作' %>
    %select
      %option{value: 'work'} work
      %option{value: 'family'} family
      %option{value: 'personal'} personal
      %option{value: 'study'} study
      %option{value: 'daodao'} daodao
      %option{value: 'wendycan'} wendycan
      %option{value: 'others'} others
    %label
      <%-  title %>
    .time-pickers
      %input
      %span -
      %input
    %button.destroy
  %input.edit{value: '<%= title %>'.html_safe}

%script{id: 'stats-template', type: 'text/template'}
  %span#todo-count
    %strong
      <%= remaining %>
    <%= remaining === 1 ? 'item' : 'items' %>
    left
  %ul#filters
    %li
      %a.selected{:href => "#order"} All
    %li
      %a{:href => "#order/active"} Active
    %li
      %a{:href => "#order/completed"} Completed

%script{id: 't-history', type: 'text/template'}
  %table
    %thead
      %tr
        %th.id Id
        %th.title 标题
        %th.group 类别
        %th.time 创建时间
        %th.time 开始时间
        %th.time 结束时间
        %th.distance 用时
        %th.completed 是否完成
    %tbody#records
  #paginator

%script{id: 't-record', type: 'text/template'}
  %tr
    %td <%= id %>
    %td <%= title %>
    %td <%= group %>
    %td <%= created_at %>
    %td <%= start_at %>
    %td <%= end_at %>
    %td <%= distance %>
    %td
      <% if (completed) { %>
      %span.fa.fa-check
      <% } else { %>
      %span.fa.fa-close
      <% } %>


%script{id: 't-long-term', type: 'text/template'}
  .row
    .large-6.columns
      #long-term-edit
    .large-6.columns
      #long-term-result
  .row
    .large-6.columns.text-right
      .button.tiny#long-term-save
        保存

%script{id: 't-alert-success', type: 'text/template'}
  .alert-box.success{'data-alert' => true}
    <%= msg %>
    %a.close.close-alert
      &times;

= javascript_include_tag "app-backbone"

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var router = new app.TodoRouter;
      Backbone.history.start();
    })
