.wrap
  .row
    .large-10.columns-large-center
      #todoapp

%script{id: 't-todos', type: 'text/template'}
  #header
    %h1 Todos
    %span.group work
    %select#new-todo-group
      %option{value: 'work'} work
      %option{value: 'family'} family
      %option{value: 'personal'} personal
      %option{value: 'study'} study
      %option{value: 'daodao'} daodao
      %option{value: 'wendycan'} wendycan
      %option{value: 'others'} others
    %input#new-todo{placeholder: 'What needs to be done?', autofocus: true}
  %section#main
    %input#toggle-all{type: 'checkbox'}
    %label{'for' => 'toggle-all'} Mark all as complete
    %ul#todo-list
  %footer#footer

%script{id: 'item-template', type: 'text/template'}
  .view
    <% if (completed) { %>
    %input.toggle{type: 'checkbox', checked: ''}
    <% } else { %>
    %input.toggle{type: 'checkbox'}
    <% } %>
    %span.group <%= group || '工作' %>
    %select
      %option{value: 'work'} work
      %option{value: 'family'} family
      %option{value: 'personal'} personal
      %option{value: 'study'} study
      %option{value: 'daodao'} daodao
      %option{value: 'wendycan'} wendycan
      %option{value: 'others'} others
    %label
      <%-  title %>
    .time-pickers
      %input
      %span -
      %input
    %button.destroy
  %input.edit{value: '<%= title %>'.html_safe}

%script{id: 'stats-template', type: 'text/template'}
  %span#todo-count
    %strong
      <%= remaining %>
    <%= remaining === 1 ? 'item' : 'items' %>
    left
  %ul#filters
    %li
      %a.selected{:href => "#order"} All
    %li
      %a{:href => "#order/active"} Active
    %li
      %a{:href => "#order/completed"} Completed

%script{id: 't-history', type: 'text/template'}
  %h1 History
  #records
  #paginator

%script{id: 't-record', type: 'text/template'}
  %li <%= title %>

%script{id: 't-long-term', type: 'text/template'}
  %h1 Long Term

= javascript_include_tag "app-backbone"

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var router = new app.TodoRouter;
      Backbone.history.start();
    })
