!!!5
%head
  %link{:href => "/style.css", :rel => "stylesheet"}/
  %script{:rel => "javascript", :src => "/deps.js"}
  %script{:rel => "javascript", :src => "/deps/highcharts.src.js"}
  %script{:rel => "javascript", :src => "/deps/map.js"}
  %script{:rel => "javascript", :src => "/deps/cn-all-sar-taiwan.js"}
  %script{:rel => "javascript", :src => "/all.js"}
%body
  = yield
