!!!5
%head
  = render :partial => 'layouts/head'

%body.todos
  %nav.top-bar{'data-topbar' => true, 'role' => 'navigation'}
    %ul.title-area
      %li.name
        %h1
          %a{:href => "#"} Cherish
    .top-bar-section
      %ul.right
        %li
          %a{:href => "#todos"} Todos
        %li
          %a{:href => "#history"} 历史
        %li
          %a{:href => "#long_term"} 长期
        %li
          = link_to '登出', destroy_user_session_path, :method => 'delete', data: { confirm: '确定登出？'}
  //= render :partial => 'layouts/hint'

  = yield
  = render :partial => 'layouts/footer'
